#productGrid {
    width: 80vw;
    grid-gap: 30px;
}

@media screen and (max-width: 1024px) {
    #productGrid {
        width: 90vw;
        padding: 0;
    }
}

@media screen and (max-width: 400px) {
    #productGrid {
        grid-gap: 10px;
    }
}
