$page_size: 1500px;

#product_page {
    max-width: $page_size;
    margin: 0 auto;
    display: flex;
}
#assets_wrapper {
    padding: 10px 15px;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
        @include font_ARTICLE;
        text-transform: uppercase;
    }
}

#price {
    @include font_BTN;
    margin-bottom: 40px;
}

#select_wrapper {
    display: flex;
    flex-direction: column;
    margin: 10px 0;

    input {
        width: 35px;
        border: 1px solid $color_light_grey;
        padding: 10px;
        margin: 17px 0 0 7px;
    }
}

button {
    margin-top: 40px;
    @include font_ARTICLE;
}

p {
    @include font_ARTICLE_SMALL;
    margin-bottom: 10px;
}

@media screen and (max-width: $page_size) {
    #wrapper {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 800px) {
    #product_page {
        flex-direction: column;
    }
}

@media screen and (max-width: 1024px) {
    .grid {
        width: 90vw !important;
        padding: 0 !important;
    }
    #newsGrid {
        width: 70vw !important;
    }
}

@media screen and (max-width: 400px) {
    .grid {
        width: 100% !important;
        padding: 0 !important;
        grid-gap: 10px !important;
    }
}

