main {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}

#headerOrders {
    @include font_H1
}

#recapBasket {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    h1 {
        margin-bottom: 40px;
    }
    height: fit-content;
    margin-top: 45px;
    #separator {
        margin-bottom: 20px;
        background-color: $color_light_grey;
        border-style: solid;
    }
}

#recapTotal {
    display: flex;
    justify-content: space-between;
}

@media all and (max-width: 1380px) {
    .bloc {
        display:block;
        clear:both;
    }
    main {
        width: 90%;
    }
}
@media all and (max-width: 1200px) {
    main {
        flex-direction: column-reverse;
        align-items: center;
    }
    #recapBasket {
        width: 500px;
        margin-bottom: 40px;
    }
}

@media all and (max-width: 940px) {
    #wrapper_small_screen {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        padding: 32px 32px 0;
        grid-gap: 30px;
        position: relative;
        z-index: 1;
    }
    #wrapperOrders {
        width: 100%;
    }
    #recapBasket {
        width: 80vw;
    }
}

