#productGrid {
    width: 80vw;
    grid-gap: 30px;
}

#newsGrid {
    width: 60vw;
    grid-gap: 15px;
}

@media screen and (max-width: 1024px) {
    #productGrid {
        width: 90vw;
    }
    #newsGrid {
    width: 70vw;
    }
}
