#wrapper {
    border-radius: 5px;
    background-color: lightblue;
    display: inline;
}

.is-small {
    padding: 10px 20px;
}

.is_large {
    @include font_BTN;
    
    padding: 15px 0;
    width: 100%;
}
