#wrapper_btn {
    border-radius: 5px;
    background-color: $color_primary_default;
    color: $color_whithe;
    text-align: center;
    display: inline;
    cursor: pointer;
    outline: unset;
}

.is_small {
    width: fit-content;
    padding: 10px 20px;
}

.is_large {
    @include font_BTN;

    padding: 12px 0;
    width: 100%;
}
