nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5px 15px;
    border-bottom: 1px solid $color_light_grey;
}

#links {
    @include flex-center;
    @include font_NAV;

    text-transform: uppercase;
    font-weight: 700;
}

.link {
    margin-left: 20px;

    &:first-child {
        margin-left: unset;
    }
}

#logo {
    img {
        max-height: 80px;
        display: block;
    }
}

#useful_links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.usefil_links_wrapper {
    margin-left: 17px;
    cursor: pointer;
}


@media screen and (min-width: 1500px) {
    .usefil_links_wrapper {
        margin-left: 40px;
    }
}

@media screen and (max-width: 630px) {
    nav {
        display: flex;
        flex-direction: column;
        padding: 15px 15px;
        align-items: center;
        border-bottom: 1px solid $color_light_grey;
        position: relative;
    }
    #links {
        @include flex-center;
        @include font_NAV;

        text-transform: uppercase;
        font-weight: 700;
        flex-direction: column;
    }
    .link {
        margin-left: unset;
        &::after {
            content: "";
            background-color: $color_light_grey;
            display: block;
            width: 100%;
            height: 1px;
            margin: 10px 0;
        }
        &:last-child {
            &::after {
                height: 0;
                margin:  0;
            }
        }
    }
    #logo {
        img {
            position: absolute;
            top: 10px;
            left: 10px;
        }
    }
    #useful_links {
        position: absolute;
        top: 10px;
        right: 10px;
        flex-direction: column;
    }
    .usefil_links_wrapper {
        margin-left: unset;
        margin-bottom: 10px;
    }
}
