nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5px 15px;
    border-bottom: 1px solid $color_light_grey;
}

#links {
    @include flex-center;
    @include font_NAV;

    text-transform: uppercase;
    font-weight: 700;
}

.link {
    margin-left: 20px;

    &:first-child {
        margin-left: unset;
    }
}

#logo {
    img {
        max-height: 80px;
        display: block;
    }
}

#useful_links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.usefil_links_wrapper {
    margin-left: 17px;
    cursor: pointer;
}


@media screen and (min-width: 1500px) {
    .usefil_links_wrapper {
        margin-left: 40px;
    }
}
