#card {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    border: 1px solid $color_light_grey;
    min-height: 178px;
}
#title, #date, #summary {
    color: #0e1c14;
    padding: 5px 16px;
}

#title {
    @include font_ARTICLE_SMALL;
    color: #0e1c14;
    font-weight: 800;
}

img {
    height: 200px;
    width: 100%;
    object-fit: contain;
}

#link {
    margin-left: auto;
    margin-right: 5px;
    color: $color_text_activ;
}
