@use '@/assets/fonts/index.scss';

* {
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}

*:focus, *:active {
    outline: none!important;
}

button::-moz-focus-inner {
    border: 0;
}

body {
    background-color: $color_whithe;
    color: $color_text_default;
    @include font_RE;
}

ul {
    list-style: none;
    list-style-type: none;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: unset;
}

h1 {
    @include font_H1;
}

button {
    border: unset;
}

.useful_links_logos {
    height: 30px;
    width: 30px;
    object-fit: contain;
}

.router-link-exact-active {
    color: $color_text_activ;
}

.grid {
    margin: 0 auto;
    width: 80vw;
    background-color: inherit;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
    padding: 32px 32px 0;
    transition: margin-top 0.2s;
    position: relative;
    z-index: 1;
}

.invalid-feedback {
    color: $color_error_default;
    @include font_error;
}

