
@use '@/assets/fonts/index.scss';

* {
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}

*:focus {
    outline: none;
}

body {
    background-color: $color_whithe;
    color: $color_text_default;
    @include font_RE;
}

ul {
    list-style: none;
    list-style-type: none;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: unset;
}

h1 {
    @include font_H1;
}

button::-moz-focus-inner {
    border: 0;
}

button {
    border: unset;
}

.useful_links_logos {
    height: 30px;
    width: 30px;
    object-fit: contain;
}

.router-link-active {
    color: $color_text_activ;
}

