* {
    box-sizing: content-box;
    padding: 0;
    margin: 0;
    outline: unset!important;
}

body {
    background-color: $color_whithe;
}

ul {
    list-style: none;
    list-style-type: none;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: unset;
}

.useful_links_logos {
    height: 30px;
    width: 30px;
    object-fit: contain;
}

.router-link-active {
    color: $color_text_activ;
}

