#carousel {
    margin: 0 auto;
}

.slide{
    display: flex;
    flex-direction: column;
}

.picture {
     width: 100%;
     height: 100%;
    object-fit: contain;
}

.text {
    padding: 8px 0;
    background-color: $color_primary_default;
    color: $color_text_whithe;
    text-align: center;
}

.VueCarousel-inner {
    flex-basis: 300px;
}
