$color_error_default: #FF676D;
$color_warning_default: "";
$color_succes_default: "";

$color_whithe: #ffffff;
$color_light_grey: #e8e8e8; // border color

$color_background: "";

$color_text_activ: #41b883;
$color_text_default: #323333;
$color_text_whithe: #ffffff;

$color_primary_default: darken($color_text_activ, 7);
$color_primary_hover: "";
