$color_primary_default: '';
$color_primary_hover: '';

$color_error_default: '';
$color_warning_default: '';
$color_succes_default: '';

$color_background: '#263238';

$color_text_default: '#323333';
